<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        
    <h1><%= data[0].firstName %></h1>
    <%- include('partials/menu') %>
    <hr>
        <%# JSON.stringify(data) %>
        <table border= 1>
            <tr>
                <th>First Name</th>
                <td><%= data[0].firstName %></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><%= data[0].lastName %></td>
            </tr>
            <tr>
                <th>Birth Date</th>
                <td><%= data[0].birthDate %></td>
            </tr>
            <tr>
                <th>Gender</th>
                <td><%= data[0].gender %></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><%= data[0].email %></td>
            </tr>
        </table>
    </body>
</html>