<%- include("partials/header", { isLogged: true})%>


<div class="container full_height">
    <div class="row">
        <div class="card mx-auto" >
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  
                  <img width="180px" height="180px" src="<%= user.image %>" class="rounded" alt="...">
                  <div class="mx-auto mt-3">
                    <% if(isMe) { %>
                      <a class="btn btn-sm btn-block btn-warning" href="/users/edit" role="button"> Update	<i class="fa fa-edit font-weight-bold mr-3"></i></a>
                    <%} else  { %>
                      <a class="btn btn-sm btn-block btn-danger" href="#" role="button"> <i class="fa fa-heart font-weight-bold mr-2"></i>Like</a>
                    <% } %>
                  </div>
                </div>
                <div class="col">
                  <h1 class="card-title"><%= fullName %></h1>
                  <p class="card-text ml-2">
                    <%= user.bio|| "Belum ditentukan."%>
                  </p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-venus-mars font-weight-bold mr-3"></i><%= user.gender || "Belum ditentukan."%></li>
                    <li class="list-group-item"><i class="fa fa-star font-weight-bold mr-3"></i><%= user.birthDate || "Belum ditentukan."%></li>
                    <li class="list-group-item"><i class="fa fa-google font-weight-bold mr-3"></i><%= user.email %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

<%- include("partials/footer")%>