<%- include("partials/header", { isLogged: true})%>
        
    <h1>Random Match</h1>
    
    <hr>
        <%#  JSON.stringify(data) %>
        <table border= 1>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birth Date</th>
                <th>Gender</th>
            </tr>
            <% for(let i = 0; i < data.length; i++){ %>
            <tr>
                <td><%= data[i].firstName %></td>
                <td><%= data[i].lastName %></td>
                <td><%= data[i].birthDate %></td>
                <td><%= data[i].gender %></td>
            </tr>
            <% } %>
        </table>

<%- include("partials/footer")%>